.heading-panel {
  display: flex;
  background-color: rgba(255, 204, 153, 0.70);
  padding: 20px 40px;
  align-items: center;

  &__title {
    flex-grow: 1;
  }

  &__button {
    padding: 6px;
  }
}

body {
  background-size: cover;
  background: url(../img/GreatWall.jpg) no-repeat;
  height: 100vh;
}

* {
  box-sizing: border-box;
}