.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  height: 250px;
  cursor: pointer;
  border: 1px solid grey;
  background-color: rgb(255, 255, 216);
  opacity: 0.75;
  margin: 20px;

  &--red {
    background-color: indianred;
  }

  &--yellow {
    background-color: rgb(255, 255, 216);
  }

  &--blue {
    background-color: deepskyblue;
  }

  &--purple {
    background-color: mediumpurple;
  }
}

.card__input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;

  .card__title {
    height: 40px;
    border-bottom: solid 2px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .card__message {
    flex-grow: 1;
    margin-top: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  user-select: none;

  .card__footer-action {
    font-size: 12px;
  }
}

.card--empty .card__input {
  display: none;
}

.card--empty::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '+';
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  border-radius: 50%;
  top: 42%;
  left: 42%;
  border: 2px rgba(0, 0, 0, 0.5) solid;
}

.card__colors-selector {
  display: flex;
}

.card__color-option {
  width: 10px;
  height: 10px;
  margin-right: 4px;

  &.red {
    background-color: red;
  }

  &.yellow {
    background-color: yellow;
  }

  &.blue {
    background-color: blue;
  }

  &.purple {
    background-color: purple;
  }

  &.selected {
    outline: 2px solid gray;
  }
}