.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 180px;
  height: 250px;
  cursor: pointer;
  border: 1px solid grey;
  background-color: rgba(255, 255, 216, 0.85);
  margin: 20px;
}

.card__input {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px;

  .card__title {
    padding: 20px 10px;
    flex: 1;
  }

  .card__message {
    flex: 4;
  }
}

.card__footer {
  display: flex;
  justify-content: flex-end;
  padding: 10px;

  .card__footer-action {
    font-size: 12px;
  }
}

.card--empty .card__input {
  display: none;
}

.card--empty::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '+';
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-align: center;
  border-radius: 50%;
  top: 42%;
  left: 42%;
  border: 2px white solid;
}